@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.pro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    padding: 10px;
    position: relative; 
    margin: auto;
  }
  
  .pro-div h1 {
    font-weight: 800;
    font-family: 'Danjo-bold-Regular';
    font-size: 2rem; 
    line-height: 1.5;
    display: inline-block;
  }


  .pro-div {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 5vw;

  }
  

.aboutme-content{
    max-width: 1600px; /* size test */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 3vw;
}

.myimg{
    width: 70%;
    max-width: 29vw; 
    margin-top: 3vw;
    box-shadow: 0 7px 10px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
    margin-left: 6vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(22px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.myimg {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 2s ease-in-out;
  object-fit: cover;
}

.myimg.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.aboutme-left{
    width: 40%;
    height: 75vh; 
    position: relative;
    background-color: #E3DCCD;
    padding: 0.5vw;
    overflow: auto; 
}

.aboutme-left div{
    font-size: 0.9em;
}

.about-icon{
  text-align: right;
}
.about-icon i{
  font-size: 1.2em;
}

.aboutme-rigth{
    width: 35%; 
    height: 75vh;
    padding: 1.5vw;
    margin-bottom: 2vw;
    overflow: auto; 
}
.whoami{
  margin-top: 2.5vw;
}

.aboutme-rigth h3,
.whoami h3  {
  font-family: 'GmarketSansMedium';
  font-weight: 700;
  font-size: 0.8em;
  margin-top: 1vw;
  display: inline-block;
  padding: 0.8vw 0vw;
}



.whoami > h3,
.whoami > div{
  padding: 0.5vw;
  margin-left: 3vw;
  margin-right: 2vw;
}

.whoami > div{
  font-size: 0.6em;
  font-family: "Noto Sans JP", serif;
}

.aboutme-rigth h5{
  font-size: 0.8em;
  margin-top: 0.3vw;
}

.aboutme-rigth div{
  font-size: 0.7em;
}

.skills img{
  margin-right: 2px;
}


@media (max-width: 768px) {
  .myimg {
    max-width: 35vw; 
    margin-left: 6vw;
  }

  .aboutme-left, .aboutme-right {
    width: 45%; 
  }

  #name1, #name2 {
    font-size: 1vw; 
    width: 30%; 
    left: 60%;
  }

  .aboutme-right h3,
  .whoami h3{
    font-size: 0.8em;
  }

  .aboutme-rigth{
    font-size: 0.8em;
  }

  .whoami div,
  .learn{
    font-size: 0.5em;
  }

  .skills img{
    width: 57px;
    height: 17px;
  }
}

@media (max-width: 480px) {
  .aboutme-content{
    margin-bottom: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
  } 
  .myimg {
    max-width: 40vw; 
    margin-left: 20vw;
  }

  .aboutme-left{
    width: 90%;
    height: 40vh; 
  }
  .aboutme-rigth{
    margin-bottom: 2vw;
    width: 90%;
    height: 30vh;
    font-size: 0.6em;
    overflow: auto; 
  }

  .aboutme-left div{
    font-size: 0.6em;
  }

  .skills img{
    width: 50px;
    height: 15px;
  }
  .aboutme-right h3,
  .whoami h3{
    font-size: 0.6em;
  }

  .whoami div,
  .learn{
    font-size: 0.4em;
  }
}

