


.aboutme-flex{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.aboutme-flex div{
    /* border: 1px solid black; */
    height: 70vh;
    /* google font */
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.aboutme-flex img{
    margin: auto;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

.aboutme-flex > div:first-child{
    margin-left: 3vw;
}

.aboutme-flex > div:first-child h4{
    margin-left: 6vw;
    margin-top: 1.3vw;
}

.aboutme-flex > div:first-child h5{
    margin-left: 6vw;
    margin-top: 0.8vw; 
}