.pro-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    padding: 10px;
    position: relative; 
  }
  
  .pro-div h1 {
    font-weight: 800;
    font-family: 'Danjo-bold-Regular';
    font-size: 2rem; 
    line-height: 1.5;
    display: inline-block;
  }


  .pro-div {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 5vw;
  }
  

.aboutme-content{
    width: 80%;
    display: flex;
    gap: 10vw;
}

.myimg{
    width: 35vw;
    margin-top: 3vw;
    box-shadow: 0 7px 10px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
}

.aboutme-left{
    width: 100vw;
    height: 75vh;
    text-align: center;
    /* display: flex;
    justify-self: center;
    align-items: center; */
    background-color:#DDD3C1;
}

.aboutme-left div{
    font-size: 0.8em;
}

.aboutme-rigth{
    border: 1px solid blueviolet;
    width: 50vw;
    height: 75vh;
}