.pro-grid > div{
    position: relative;
}

.pro-grid > div > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 28vw;
    height: 31.8vh;
    text-align: center;
    background-color: black;
    opacity: 0;
    color: white;
}

.pro-grid > div > div:hover{
    opacity: 0.6;
    transition: 0.5s;    
}

.pro-grid > div > div >span{
    border: 1px solid white;
    padding: 5px;
    font-size: 1.5em;   
}

.pro-grid > div > div > p{
    margin-top: 5vw;
    font-size: 1.2em;
}



.pro-grid{
    display: grid;
    grid-template-columns: repeat(3,28vw);
    grid-template-rows: 18vw 19vw;
    gap: 14px;
    width: 100%;
    height: 75vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.pro-grid img{
    width: 26vw;
    height: 24vh;
    margin-left: 0.4vw;
    margin-top: 1vw;
}

.pro-grid div{
    padding: 10px;
    width: 28vw;
    height: 31.8vh;
    font-size: 0.6em;
    background-color:white;
    color: black;
    box-shadow: 0 7px 10px rgba(111, 111, 111, 0.19), 0 6px 10px rgba(67, 67, 67, 0.23);    /* border: 1px solid red; */
}

/* .pro-grid div:hover{
    transform: scale(1.03);
    transition: 0.3s;
} */


/* 모달창 내용*/

.modal-wrap{
    display: flex;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.modal-wrap > div:first-child{
    width: 40%;
    height: 90%;
    /* border: 1px solid blue; */
}

.modal-wrap > div:last-child{
    width: 57%;
    height: 90%;
    margin-left: 10px;
    margin-top: 5vw;
    margin: auto;
    /* border: 1px solid yellowgreen; */

}


.videoTag{
    width: 96%;
    height: auto;
    margin: auto;
    border: 1px solid lightgray;

}


.sliderimg img{
    width: 96%;
    margin: auto;
    height: auto;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
  }

.image-grid p{
    display: inline-block;
    font-weight: 500;
}

.intro-title{
    margin-left: 3px;
}

.intro-flex{
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    padding: 3px;
    font-family: "Noto Sans JP", serif;
}

.intro-flex div:first-child{
    height: 30vh;
}

.intro-flex div:nth-child(2){
    height: 30vh; 
}

.intro-flex div:last-child{
    height: 5vh;
    margin-top: 10px;
}

.link-div a,
.url-null{
    border-bottom: 1px solid;
    color: darkblue;
    border: none;
}

.link-div a:hover
.url-null:hover{
    cursor: pointer;
    color: blue;
}



@media (max-width: 768px) {
    .pro-grid {
        grid-template-columns: repeat(1, 45vw);
        grid-template-rows: auto;
        overflow: auto;
        gap: 5px;
    }

    .pro-grid >  div,
    .pro-grid >div > div{
        width: 45vw;
        height: 29vh;

    }

    .pro-grid img {
        width: 41vw;
        height: 19vh;
    }

    .modal-wrap {
        flex-direction: column;
    }

    .modal-wrap > div:first-child, 
    .modal-wrap > div:last-child {
        width: 100%;
    }

    .videoTag {
        width: 90vw;
        height: auto;
    }

    .sliderimg img {
        width: 90vw;
    }
    .intro-flex {
        letter-spacing: 1px; 
    }
}

@media (max-width: 480px) {
    .intro-flex {
        letter-spacing: 0.5px; 
    }
}




